{
  "parser": "babel-eslint",
  "extends": "standard",
  "plugins": [
      "flow-vars"
  ],
  "globals"   : {
    /* MOCHA */
    "describe"   : false,
    "it"         : false,
    "before"     : false,
    "beforeEach" : false,
    "after"      : false,
    "afterEach"  : false
  },
  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "max-len": [2, 120, 2],
    "camelcase":2
  }
}
